$color-primary: #d1a94a;
$color-primary-light: #f1c96c;
$color-primary-dark: #9B7825;

$color-secondary: #9e633b;
$color-secondary-light: #ca8455;
$color-secondary-dark: #613110;

$color-tertiary: #BF8C1B;
$color-tertiary-light: #E4AA2B;
$color-tertiary-dark: #996D0D;

$color-quaternary: #e7cc45;
$color-quaternary-light: #F1D181;
$color-quaternary-dark: #AF9248;

$color-background: #e1bc43;
$color-background-light: #e8c75c;
$color-background-dark: #bb9f44;

$color-brown: #B67E4C;
$color-brown-light: #e0a774;
$color-brown-dark: #8B572A;

$color-skin:#a1665e;
$color-skin-light:#d6a099;
$color-skin-dark:#5c322c;

$color-skin-1: #503335;
$color-skin-light-1: #785456;
$color-skin-dark-1: #2e1a1c;

$color-skin-2: #592f2a;
$color-skin-light-2: #844b44;
$color-skin-dark-2: #2b1311;

$color-warn: #F72119;

$color-grey: #31373a;
$color-grey-1: #505050;
$color-grey-2: #484848;
$color-grey-dark: #777;
$color-grey-dark-1: #7b7b7b;
$color-grey-light-1: #dfdddd;
$color-grey-light-2: #e8e4e4;
$color-grey-light-3: #d2d2d2;

$color-white: #ffff;
$color-black: #000;

$color-brown: #A67B5B;
$color-brown-light: #DFA77D;
$color-brown-dark: #6B3F1E;


$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


$default-font-size: 1.6rem;