.dropdown1{
  list-style: none;
  display: none;
  position: absolute;
  margin-top: -2.5rem;
}

.dropdown1 li{
  padding: .5rem 1rem; 
  margin-left: 2rem;
  
}

.dropdown1 li a{
  text-decoration: none; 
}





